# Node dependencies
node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Build output
build

# Local environment variables
.env
.env.*

# OS-specific files
.DS_Store
Thumbs.db

# Git files
.git
.gitignore

# Docker-related
Dockerfile*
.dockerignore

# IDE/editor config
.vscode
.idea
*.swp

# Coverage and test output
coverage
*.lcov

# Logs
logs
*.log
